* {
    margin: 0;
    padding: 0;
}

.exclusive_products {
    display: grid;
    grid-template-columns: 50% 50%;

    padding: 3rem 6rem;
    margin: 3rem 0rem;
    background-color: #faa;
    align-items: center;

    img {
        height: 20rem;
        width: auto;
        float: right;
        transition: 5s;
    }

    img:hover {
        height: 23rem;
    }
    
    .cxclusive_products_details {
        padding: 8rem 0rem;

        h6,p {
            padding: 2px;
            font-size: 1rem;
            opacity: 75%;
        }

        h1 {
            font-size: 1.5rem;
            padding: 2rem 0rem;
        }

    }

}