<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./exclusively_available_product.css">
    <title> exclusively_available_product </title>
</head>
<body>
    
    <section class="exclusive_products">

        <div>
            <img src="exclusive.png" alt="Smart Band 4">
        </div>

        <div class="cxclusive_products_details">
            <h6> Exclusively Available on Red Store </h6>
            <h1> Smart Band 4 </h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde delectus eligendi dicta magni libero nobis est qui corporis. Consequuntur dolorum distinctio debitis aperiam ad natus doloribus quod quasi repudiandae quam! </p>
        </div>

    </section>

</body>
</html>