<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ecommerce Website Exclusive Products </title>
    <link rel="stylesheet" type="text/css" href="./reset.css">
    <link rel="stylesheet" type="text/css" href="./theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head> 
<body>
 
    <h3 class="centered_text" style="padding-top: 2.5rem;"> Featured Products </h3>

    <section class="product_card">

        <a href="#">
            <figure>
                <img src="red_printed_t_shirt.jpg" alt="exclusive_product -1">
                <figcaption> 
                    <ul>
                        <li> Red Printed T-Shirt </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>
        </a>
        
        <a href="#">
            <figure>
                <img src="party_ware_shoes.jpg" alt="exclusive_product -2">
                <figcaption> 
                    <ul>
                        <li> Party Ware Shoes </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>            
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="comfy_outfit_trouser.jpg" alt="exclusive_product -3">
                <figcaption> 
                    <ul>
                        <li> Comfy Out Fit Trouser </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>

        <a href="#">
            <figure>
                <img src="wrist_watch.jpg" alt="exclusive_product -4">
                <figcaption> 
                    <ul>
                        <li> Wrist Watch </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>
        
        
    </section>

</body>
</html>