<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ecommerce Website Featured Catagories </title>
    <link rel="stylesheet" type="text/css" href="./reset.css">
    <link rel="stylesheet" type="text/css" href="./featured_catagories.css">
</head> 
<body>
   
    <h3 style="text-align: center; padding-top: 2rem;"> Featured Catagories </h3>

    <section class="featured_catagories">

        <a href="#">
            <figure>
                <img src="category-1.jpg" alt="Featured Category-1">
                <figcaption> Jeans </figcaption>
            </figure>
        </a>
        
        <a href="#">
            <figure>
                <img src="category-2.jpg" alt="Featured Category-2">
                <figcaption> Shoes </figcaption>
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="category-3.jpg" alt="Featured Category-3">
                <figcaption> Hoodies </figcaption>
            </figure>    
        </a>
        
    </section>

</body>
</html>