<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ecommerce Website Latest Products </title>
    <link rel="stylesheet" type="text/css" href="./reset.css">
    <link rel="stylesheet" type="text/css" href="./theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head> 
<body>
 
    <h3 class="centered_text"> Latest Products </h3>

    <section class="product_card">

        <a href="#">
            <figure>
                <img src="dance_shoes.jpg" alt="dance_shoes">
                <figcaption> 
                    <ul>
                        <li> Dance Shoes </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>
        </a>
        
        <a href="#">
            <figure>
                <img src="stylish_black_t_shirt.jpg" alt=" Stylish Black T-shirt ">
                <figcaption> 
                    <ul>
                        <li> Stylish Black T-Shirt </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>            
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="socks.jpg" alt="socks">
                <figcaption> 
                    <ul>
                        <li> Sports Socks </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>

        <a href="#">
            <figure>
                <img src="tracshoot_trouser.jpg" alt="tracshoot_trouser">
                <figcaption> 
                    <ul>
                        <li> Tracshoot Trouser </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>
        
        <a href="#">
            <figure>
                <img src="running_shoes.jpg" alt="tracshoot_trouser">
                <figcaption> 
                    <ul>
                        <li> Running Shoes </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>

        <a href="#">
            <figure>
                <img src="casual_blue_t_shirt.jpg" alt="tracshoot_trouser">
                <figcaption> 
                    <ul>
                        <li> Casual Blue T Shirt </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>

        <a href="#">
            <figure>
                <img src="sport_watch.jpg" alt="tracshoot_trouser">
                <figcaption> 
                    <ul>
                        <li> Sport Watch </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>

        <a href="#">
            <figure>
                <img src="Comfy_Shoes.jpg" alt="tracshoot_trouser">
                <figcaption> 
                    <ul>
                        <li> Comfy Shoes </li>
                        <li> 
                            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
                        </li>
                        <li> <small> $50.00 </small> </li>
                    </ul>
                </figcaption>
            </figure>    
        </a>
        
    </section>

</body>
</html>