<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ecommerce Website HomePage </title>
    <link rel="stylesheet" type="text/css" href="./reset.css">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" type="text/css" href="./theme.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head> 
<body>

    <header class="container header">

        <nav>
            <%- include('./navbar.ejs') %>
        </nav>
        
    </header>

    <section>
        <%- include('./featured_products.ejs') %>
    </section>

    <footer>
        <%- include('./index_footer.ejs') %>  
    </footer>

</body>
</html>