<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./testimonials.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/fontawesome.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title> Testimonials </title>
</head>
<body>
    <section class="testomonial">
        <div>
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe odit delectus itaque ad quasi porro est, atque eveniet dignissimos tempore quibusdam culpa laborum deleniti cum excepturi repellendus vitae quod iure! </p>
            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
            <figure>
                <img src="user-1.png" alt="user1">
                <a href="#"> 
                    <figcaption> Sean Parker </figcaption>
                </a>
            </figure>
        </div>

        <div>
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, in? Libero nostrum recusandae suscipit deleniti modi placeat. Veniam reprehenderit autem quam excepturi magni, suscipit repudiandae incidunt esse consequuntur eius consequatur! </p>
            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
            <figure>
                <img src="user-2.png" alt="user2">
                <a href="#"> 
                    <figcaption> Sean Parker </figcaption>
                </a>
            </figure>
        </div>

        <div>
            <i class="fa fa-quote-left" aria-hidden="true"></i>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum explicabo cupiditate quisquam ab ipsum earum ad fugiat ex harum laborum quia, nam vero deserunt dolorem dolore facere mollitia ullam dicta. </p>
            <i class="fa fa-star"> </i> <i class="fa fa-star"> </i> </i> <i class="fa fa-star"> </i><i class="fa fa-star"> </i> <i class="fa fa-star-half"> </i> <i class="fa fa-star-0"> </i>
            <figure>
                <img src="user-3.png" alt="user3">
                <a href="#"> 
                    <figcaption> Sean Parker </figcaption>
                </a>
            </figure>
        </div>

    </section>

    <section class="tieup_companies_logo">
        <div>
            <img src="logo-godrej.png" alt="TIE UP COMPANIES LOGO">
        </div>

        <div>
            <img src="logo-oppo.png" alt="TIE UP COMPANIES LOGO">
        </div>

        <div>
            <img src="logo-coca-cola.png" alt="TIE UP COMPANIES LOGO">
        </div>

        <div>
            <img src="logo-paypal.png" alt="TIE UP COMPANIES LOGO">
        </div>

        <div>
            <img src="logo-philips.png" alt="">
        </div>

    </section>
</body>
</html>